appdirs==1.4.4
asgiref==3.2.7
astroid==2.4.2
certifi==2020.4.5.2
chardet==3.0.4
click==7.1.2
colorama==0.4.3
dateparser==1.0.0
defusedxml==0.6.0
distlib==0.3.0
Django==3.0.7
dnspython==2.1.0
filelock==3.0.12
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.5.0
MarkupSafe==1.1.1
playsound==1.2.2
pymongo==3.11.3
pyTelegramBotAPI==3.7.6
python-dateutil==2.8.1
pytz==2020.1
regex==2020.11.13
requests==2.25.1
six==1.15.0
sqlparse==0.3.1
tzlocal==2.1
urllib3==1.26.3
virtualenv==20.0.21
Werkzeug==1.0.1
wrapt==1.12.1
